@using ProjetoWeb.Classes
@{BancoDeDados.DBConnect();}
@{
    int isPageLoaded = 1;
    HttpCookie id = new HttpCookie("wtver");
    HttpCookie isMod = new HttpCookie("mod");
    string cookieValue = "waiting";
}

<!DOCTYPE html>
<html class="indexDefaults">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/CSS/style.css">
    <title>Frase</title>
    <script src="~/JS/DeferJs.js"></script>
</head>
<body class="indexDefaults" style="background-color: black; color: white">
    <script>
    @{
        id = Request.Cookies["userId"];
        isMod = Request.Cookies["isMod"];

    }
    </script>
    @if (id != null)
    {
        cookieValue = Context.Request.Cookies["userId"].Value.Split('=')[1];
        <text>
            <div class="indexContainer">
                <div class="col1">
                    <div class="GotoLoginPage">
                        <button class="OptsButton" id="CadLog" type="submit" onclick='window.location.replace("LoginPage.cshtml")'>
                            <h2 class="twitterText" style="text-align:center">ENTRAR/CADASTRAR</h2>
                        </button>
                        <br/>
                        <button class="OptsButton" id="CadLog" type="submit" onclick='OpenUserProfile(@cookieValue)'>
                            <h2 class="twitterText" style="text-align:center">MEU PERFIL</h2>
                        </button>
                    </div>
                </div>

                <div class="col2">
                    <br />
                    <form method="post" id="messageForm" action="~/HTML/PostaMensagem.cshtml">
                        <h3 style="padding-left: 3%; color:black; font-family: 'Century Gothic';">Poste uma mensagem</h3>
                        <textarea class="messageOpts" name="mensagem" id="mensagem" placeholder="digite aqui..." max-rows="0" rows="5" cols="16" wrap="hard" required minlength="1" maxlength="140"></textarea>
                        <input style="float:right; margin-right: 3%" type="submit" name="enter" value="Enviar" />
                    </form>
                    <br />
                    <br />
                    <br />
                    @{
                        foreach (Mensagem m in BancoDeDados.Feed(id.Values["userId"]))
                        {
                            string date = $"{m.dia}/{m.mes}/{m.ano}";
                            <div class="feedDiv">
                                <a onclick="OpenUserProfile(@m.userId)" style="font-size: 18px" class="feedText">
                                    @m.usuario
                                </a>
                                @if (isMod != null)
                                {

                                    @Html.Raw($"<button style='float:right; background-color:red' onclick='ChangeMessageFormValue({m.messageId})'>X</button>");
                                }
                                <p class="feedText">@m.conteudo</p>
                                <p style="text-align:end" class="feedText">@date</p>
                            </div>
                            <br />
                        }
                        <form method="post" id="MessageForm" onsubmit="DeleteMessage()">
                            <input type="hidden" name="MessageToDelete" id="MessageToDelete" value="">
                        </form>
                        <form action="~/HTML/Profiles.cshtml" method="post" id="UserProfile" onsubmit="GoToUserProfile()">
                            <input type="hidden" name="ProfileToGo" id="ProfileToGo" value="">
                        </form>
                    }
                </div>

                <div class="col3">
                    <br />
                    <form method="post" onsubmit="Seguir;">
                        <input style="display:block; margin: 0 auto" type="text" id="Follow" name="Follow" placeholder="Fulano123..." required min="6" />

                        <br />

                        <input style="float:right; margin-right: 31%" type="submit" value="Seguir" />

                    </form>

                </div>

            </div>
        </text>
                        }
                        else
                        {
        <text>
        <script>
        window.location.replace("LoginPage.cshtml")
        </script>
        </text>
                        }
</body>
</html>

<script>

        function Seguir() {
                @{
                    if (!string.IsNullOrEmpty(Request.Form["Follow"]))
                    {
                        if (Request.Form["Follow"] != "")
                        {
                            BancoDeDados.Seguir(cookieValue, BancoDeDados.UsuarioId(Request.Form["Follow"]));
                        }
                    }
                    }
            var regForm = document.getElementsByName('Follow')[0];
            regForm.target.reset();
        }

        function DeleteMessage() {
            if (document.getElementById("MessageToDelete").value != null && document.getElementById("MessageToDelete").value != "") {
                @{string idCs = Request.Form["MessageToDelete"];
                    BancoDeDados.DeleteMessage(idCs);
            }
            }
</script>